<table>
	<tr>
		<td>
			{{TR_FORM_TRIP_ADVANCE_VALUE}}:
		</td>
		<td>
				{{advance_value}} {{advance_curr}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_ADVANCE_HOW_TO_PAY}}:
		</td>
		<td>
			{{advance_pay}}
		</td>
	</tr>
</table>