<div style="width:300px;float:left;">
<table style="text-align:left;">
	<tr>
		<td style="width:140px;">
			{{TR_TEXT_ID}}
		</td>
		<td>
			{{id}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_TEXT_TRIP_STATUS}}:
		</td>
		<td>
			{{status}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_ACCEPT_PERSON}}:
		</td>
		<td>
			{{name_accept}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_TRIP_DETAIL_EMPLOYEE}}:
		</td>
		<td>
			{{name_employee}}
		</td>
	</tr>
<tr><td>&nbsp;</td><td></td></tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_AIM}}:
		</td>
		<td>
			{{purp}}
		</td>
	</tr>

	<tr>
		<td>
			{{TR_FORM_TRIP_START_DATE}}:
		</td>
		<td>
			{{start_date}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_END_DATE}}:
		</td>
		<td>
			{{end_date}}
		</td>
	</tr>
</table>
</div>
	
<div style="width:450px;float:left;">
<table>
<tr>
		<td style="width:140px;">
			{{TR_TEXT_COUNTRY_FROM}}:
		</td>
		<td>
			{{country_from}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_TEXT_CITY_FROM}}:
		</td>
		<td>
			{{city_from}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_TEXT_COUNTRY_TO}}:
		</td>
		<td>
			{{country}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_TEXT_CITY_TO}}:
		</td>
		<td>
			{{city}}
		</td>
	</tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_TRANSPORT}}:
		</td>
		<td>
			{{transp}}
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;">
			{{TR_TEXT_ADVANCE}}:
		</td>
		<td>
			{{advance}}
		</td>
	</tr>
	<tr>
		<td  style="vertical-align:top;">
			{{TR_FORM_TRIP_HOTEL}}:
		</td>
		<td>
			{{hotel}}
		</td>
	</tr>


</table>

</div>
<div style="clear:both">
<table style="width:600px;">
<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_COMMENT}}:
		</td>
	</tr>
	<tr>
		<td>
			{{comment}}
		</td>
	</tr>
<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			{{TR_FORM_TRIP_COMMENT2}}:
		</td>
	</tr>
	<tr>
		<td>
			{{comment2}}
		</td>
	</tr>

	<tr>
		<td>
			<div style="text-align:center;margin-top:40px;">{{buttons|raw}}</div>
		</td>
	</tr>
</table>
</div>