<table>
	<tr>
		<td>
			TR_TRIP_HOTEL_NAME:
		</td>
		<td>
			{hotel_name}
		</td>
	</tr>
	<tr>
		<td>
			TR_FORM_TRIP_HOTEL_START_DATE:
		</td>
		<td>
			{hotel_start_date}
		</td>
	</tr>
	<tr>
		<td>
			TR_FORM_TRIP_HOTEL_END_DATE:
		</td>
		<td>
			{hotel_end_date}
		</td>
	</tr>
	<tr>
		<td>
			TR_FORM_TRIP_HOTEL_DAYS:
		</td>
		<td>
			{hotel_days}
		</td>
	</tr>
</table>

