<br />
			<form method="POST" name="mod" action="?page=user_info&a=chpass" style="text-align:left;width:300px;">
				<input type="hidden" name='id' value='{id}'>
				<table valign=middle align="left">
					<tr><td>TR_TEXT_USER_PASS<br /><input name="pass" type="password" /></td></tr>
					<tr><td>TR_TEXT_USER_PASS2<br /><input name="pass2" type="password" style="margin-bottom:5px;"/></td></tr>
					<tr><td>{chpass}</td></tr>
				</table>
	</form>