<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<title>Travel Request</title>
{{ajaxhead|raw}}
{{javascript|raw}}
</head>
<body onload="window.locationbar=false;">

<div id="main">
<div id="topmain">
Travel Request
</div>
<div style="float:right;margin:10px 10px 0 0;"><span onclick='window.open ("help/index.html",
"Helpik","location=1,status=1,scrollbars=1, width=300,height=400");'>Help</span></div>
<div id="navbar"><span class="navtext">{{TR_TEXT_LOGGED_AS}} {{logged}}</span><a href="index.php?a=logout" class="logoutbutton">Logout</a></div>

<div id="menubar">
<div class="headmenu">Tools</div>
<ul><li>
<a href="?app=travreq">Travel Request</a>
</li>
<li><a href="">Worktime Registration</a></li>
<li><a href="">Travel Expense Claims</a></li>
</ul>
</div>
<div style="width:840px;display:block;float:left;">{{page_header|raw}}</div>

<div id="content">
<div id='error'>{{error|raw}}</div>
{{content|raw}}
</div>
</div>

</body>
</html>
