<br />
<table style="text-align:left;width:300px;border:1px solid;">
		<tr>
		<td>
			TR_TEXT_USER_FORENAME2:
		</td>
		<td>
			{forename}
		</td>
	</tr>
	<tr>
		<td>
			TR_TEXT_USER_SURNAME2:
		</td>
		<td>
			{surname}	
		</td>
	</tr>
	<tr>
		<td>
			TR_TEXT_USER_MAIL:
		</td>
		<td>
			{mail}
		</td>
	</tr>
	<tr>
		<td>
			TR_TEXT_USER_PHONE:
		</td>
		<td>
			{phone}
		</td>
		</tr>
	</table>

{chpassbox}