<ul>
    <li><a href='?page=administration&a=userman'>{{constant('TR_TEXT_ADM_USER_MANAGMENT')}}</a></li>
    <li><a href='?page=administration&a=permissions'>{{constant('TR_TEXT_ADM_PERMISSION_MANAGMENT')}}</a></li>
    <li><a href='?page=administration&a=delegationman'>{{constant('TR_TEXT_ADM_DELEGATION_MANAGMENT')}}</a></li>
    <li><a href='?page=administration&a=pageconfig'>{{constant('TR_TEXT_ADM_PAGE_CONF')}}</a></li>
    {% if blocked %}
        <li><a href='?page=administration&a=unblock'>{{constant('TR_TEXT_ADM_SYS_UNBLOCK')}}</a></li>
    {% else %}
        <li><a href='?page=administration&a=block'>{{constant('TR_TEXT_ADM_SYS_BLOCK')}}</a></li>
    {% endif %}
    <li><a href='?page=administration&a=clean'>{{constant('TR_TEXT_ADM_SYS_CLEAN')}}</a></li>
</ul>
