<div style="float:left;margin-right:30px;text-align:center;">
<h3>TR_TEXT_ADMINISTRATORS</h3>
<table>
<tr>
<td>TR_TEXT_NON_ADMIN_LIST</td>
<td></td>
<td>TR_TEXT_ADMINS_LIST</td>
</tr>
<tr>
<td id="UserNad">{NAUL}</td>
<td>{ADMT}</td>
<td id="Adminslist">{AUL}</td>
</tr>
</table>
</div>
<div style="float:left;text-align:center;"">
<h3>TR_TEXT_ACCEPTATORS</h3>
<table>
<tr>
<td>TR_TEXT_NON_ACC_LIST</td>
<td></td>
<td>TR_TEXT_ADMINS_LIST</td>
</tr>
<tr>
<td id="UserNac">{NCUL}</td>
<td>{ACMT}</td>
<td id="Acclist">{CUL}</td>
</tr>
</table>
</div>