<div id="ErrorMessage">{msg}</div>
<form method="POST" name="mod" action="?page=administration&a=userman&b={op}" style="text-align:center; border:1px solid;width:550px; text-align:left;">
<table>
	<tr>
		<td style="text-align:left;">
			
			<table style="text-align:left;float:left;display:inline;width:300px;" valign=top align=left>
			<tr><td>TR_TEXT_USER_LOGIN</td><td><input name="login" type="text" value="{login}"/></td></tr>
			<tr><td>TR_TEXT_USER_FORENAME</td><td><input name="name" type="text" value="{name}"/></td></tr></tr>
			<tr><td>TR_TEXT_USER_SURNAME</td><td><input name="surname" type="text" value="{surname}"/></td></tr>
			<tr><td>TR_TEXT_USER_PASS</td><td><input name="pass" type="password" value=""/></td></tr>
			<tr><td>TR_TEXT_USER_PASS2</td><td><input name="pass2" type="password" value=""/></td></tr>
			<tr><td>TR_TEXT_USER_PHONE</td><td><input name="telephone" type="text" value="{telephone}"/></td></tr>
			<tr><td>TR_TEXT_USER_MAIL</td><td><input name="mail" type="text" value="{email}"/></td></tr>
			</table>
		</td>
		<td style="vertical-align:middle;">
			<table style="width:200px;float:left;margin:2px;border:1px solid #d8e1ec;vertical-align:middle">
			<tr>
			<td>TR_TEXT_ACC_LIST</td>
			</tr>
{listaccept}
			</table>
		</td>
	</tr>
</table>	
<div style="clear:both;text-align:center;padding-bottom:5px;">
			{addbut}
			<input type="button" value="TR_TEXT_BUTTON_BACK" onclick="window.location='?app=travreq&page=administration&a=userman'" class="button" style="width:60px;"/>
			</div>
</form>