<form method="POST" name="mod" action="?page=administration&a=userman&b={op}&id={id}" style="text-align:left; border:1px solid; border-size:1px;width:550px;">

<table>
	<tr>
		<td style="text-align:left;">
			
			<table style="text-align:left;float:left;display:inline;width:300px;" valign=top align=left>
			<tr><td>TR_TEXT_USER_LOGIN</td><td><input name="login" type="text" value="{login}"/></td></tr>
			<tr><td>TR_TEXT_USER_FORENAME</td><td><input name="name" type="text" value="{name}"/></td></tr></tr>
			<tr><td>TR_TEXT_USER_SURNAME</td><td><input name="surname" type="text" value="{surname}"/></td></tr>
			<tr><td>TR_TEXT_USER_PHONE</td><td><input name="telephone" type="text" value="{telephone}"/></td></tr>
			<tr><td>TR_TEXT_USER_MAIL</td><td><input name="mail" type="text" value="{email}"/></td></tr>
			</table>
		</td>
		<td style="vertical-align:middle;">
			<table style="width:200px;float:left;margin:2px;border:1px solid #d8e1ec;vertical-align:middle">
			<tr>
			<td>Lista akceptatorów</td>
			</tr>
{listaccept}
			</table>
		</td>
	</tr>
</table>	
<div style="clear:both;text-align:center;padding-bottom:5px;">
			{modifybut}
			<input type="button" value="TR_TEXT_BUTTON_BACK" onclick="window.location='?app=travreq&page=administration&a=userman'" class="button" style="width:60px;"/>
			</div>
</form>

<br />
<form method="POST" name="mod" action="?page=administration&a=userman&b=chpass" style="text-align:center;width:550px;border:1px solid;padding-bottom:5px;" >
<table>
<tr>
		<td>
				<input type="hidden" name='id' value='{id}'>
				<table style="text-align:center;float:left;display:inline;" valign=middle align=center>
					<tr><td>TR_TEXT_USER_PASS</td><td><input name="pass" type="password" /></td></tr>
					<tr><td>TR_TEXT_USER_PASS2</td><td><input name="pass2" type="password" /></td></tr>
				</table>
				<br/>
		</td>
	</tr>
</table>	
{chpass}
</form>