<table>
	<tr>
		<td style="width:117px;">
			TR_FORM_TRIP_ADVANCE_VALUE
		</td>
		<td>
			<input type="text" name="advance_value" value="{advance_val}" onchange="isNumValue()" style="width:83px;" class="edit"/>
			<select name="currency" style="width:60px;" class="edit">
				{currency_option}
			</select>
		</td>
	</tr>
	<tr>
		<td>
			TR_FORM_TRIP_ADVANCE_HOW_TO_PAY
		</td>
		<td>
			<select name="money_radio">
				{money_radio}
			</select>
		</td>
	</tr>
</table>
