<table>
<tr>
	<td>
			<div id="hotel_sel">TR_FORM_TRIP_HOTEL:
	</td>
	<td>
		<div id="selecthotel">
		{selecthotel}
		</div>
	</td>
</tr>
<tr>
	<td style="width:120px">
		TR_FORM_TRIP_HOTEL_START_DATE:
	</td>
	<td>
				<input type="text" name="hotel_start_date" value="{hotel_start_date_value}"  readonly="readonly" class="edit" style="width:70px"/>
		<a href="#" onClick="cal1.select(document.tripform.hotel_start_date,'anchor3','yyyy-MM-dd'); return false;" title="cal1.select(document.tripform.hotel_start_date,'anchor3','yyyy-MM-dd'); return false" name="anchor3" id="anchor3" >TR_CALENDAR_LINK</a>
	</td>
</tr>
<tr>
	<td>
		TR_FORM_TRIP_HOTEL_END_DATE:
	</td>
	<td>
			<input type="text" name="hotel_end_date" value="{hotel_end_date_value}" readonly="readonly" class="edit" style="width:70px"/>
			<a href="#" onClick="cal1.select(document.tripform.hotel_end_date,'anchor4','yyyy-MM-dd'); return false;" title="cal1.select(document.tripform.hotel_end_date,'anchor4','yyyy-MM-dd'); return false;" name="anchor4" id="anchor4" >TR_CALENDAR_LINK</a>
	</td>
</tr>
<tr>
	<td>
		TR_FORM_TRIP_HOTEL_DAYS:
	</td>
	<td>
		<input type="text" name="hotel_days" onChange="isNumDay()" value="{hotel_days_value}" class="edit" style="width:70px"/>
		<a href="#" onclick="getNumDays()" >TR_TRIP_COUNT_DAYS</a>
	</td>
</tr>
</table>
