<div id="error">{{error}}</div>
<form method="POST" name="tripform" action="?page=delegation&a=add" style="text-align:left;width:850px;">
<div style="float:left;"> <!--width:370px; -->
<table align="center" style="margin:0px;vertical-align:top;font-size:11px;"> 
	<tr style="margin:0px;vertical-align:top;">
		<td style="margin:0px;vertical-align:top;width:300px;">
			<table style="margin:0px;vertical-align:top;">
				<tr>
					<td style="width:120px;">{{TR_FORM_TRIP_START_DATE}}:
					</td>
					<td>
						<script language="JavaScript" id="js1">
						var cal1 = new CalendarPopup();
						cal1.setMonthNames(
							{{TR_CALENDER_MOUNTH_1|raw}},
							{{TR_CALENDER_MOUNTH_2|raw}},
							{{TR_CALENDER_MOUNTH_3|raw}},
							{{TR_CALENDER_MOUNTH_4|raw}},
							{{TR_CALENDER_MOUNTH_5|raw}},
							{{TR_CALENDER_MOUNTH_6|raw}},
							{{TR_CALENDER_MOUNTH_7|raw}},
							{{TR_CALENDER_MOUNTH_8|raw}},
							{{TR_CALENDER_MOUNTH_9|raw}},
							{{TR_CALENDER_MOUNTH_10|raw}},
							{{TR_CALENDER_MOUNTH_11|raw}},
							{{TR_CALENDER_MOUNTH_12|raw}}
						);
						cal1.setDayHeaders(
							{{TR_CALENDER_LETTER_OF_DAY_1|raw}},
							{{TR_CALENDER_LETTER_OF_DAY_2|raw}},
							{{TR_CALENDER_LETTER_OF_DAY_3|raw}},
							{{TR_CALENDER_LETTER_OF_DAY_4|raw}},
							{{TR_CALENDER_LETTER_OF_DAY_5|raw}},
							{{TR_CALENDER_LETTER_OF_DAY_6|raw}},
							{{TR_CALENDER_LETTER_OF_DAY_7|raw}}
						);
						cal1.setTodayText({{TR_CALENDER_TODAY|raw}});
						</script>
					<input type="text" name="start_date" readonly="readonly" value='{{start_date_value}}' class="edit" style="width:70px;"/>
					<a href="#" onClick="cal1.select(document.tripform.start_date,'anchor1','yyyy-MM-dd'); return false;" title="cal1.select(document.tripform.start_date,'anchor1','yyyy-MM-dd'); return false;" name="anchor1" id="anchor1">{{TR_CALENDAR_LINK}}</a>
					</td>
				</tr>
				<tr>
					<td>{{TR_FORM_TRIP_END_DATE}}: 
					</td>
					<td><input type="text" name="end_date" readonly="readonly" value='{{end_date_value}}' class="edit" style="width:70px;"/>
					<a href="#" onClick="cal1.select(document.forms[0].end_date,'anchor2','yyyy-MM-dd'); return false;" title="cal1.select(document.forms[0].end_date,'anchor2','yyyy-MM-dd'); return false;" name="anchor2" id="anchor2">{{TR_CALENDAR_LINK}}</a>
					</td>
				</tr>
				<tr>
					<td>
						{{TR_FORM_TRIP_ACCEPT_PERSON}}:
					</td>
					<td>
						<select name="accept" class="edit">
							{{accept_option|raw}}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						{{TR_FORM_TRIP_AIM}}
					</td>
					<td>
					<select name="aim" class="edit">
							{{purpose_option|raw}}
						</select>
					</td>
				</tr>
<tr><td>&nbsp;</td> <td> </td></tr>
				<tr>
					<td>
						{{TR_FORM_TRIP_IS_HOTEL}}
					</td>
					<td>
						<input type="checkbox" name="is_hotel" onchange="isHotel();" onclick="isHotel();" {{checked_is_hotel}} />
					</td>
				</tr>
				<tr>
					<td colspan="2" style="margin:0px;padding:0px;">
						<div id="hotel">{{hotel_div|raw}}</div>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td style="width:120px;">
						{{TR_TEXT_COUNTRY_FROM}}:
					</td>
					<td>
						<select name="country_from" onchange="changeCountry2();" class="edit">
							{{country_option_from|raw}}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						{{TR_TEXT_CITY_FROM}}:
					</td>
					<td>
						<div id="cityd_from">
							{{select_city_from|raw}}
						</div>
					</td>
				</tr>
<tr><td>&nbsp;</td> <td> </td></tr>
				<tr>
					<td>
						{{TR_TEXT_COUNTRY_TO}}:
					</td>
					<td>
						<select name="country" onchange="changeCountry();" class="edit">
						{{country_option|raw}}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						{{TR_TEXT_CITY_TO}}:
					</td>
					<td>
						<div id="cityd">
							{{select_city|raw}}
						</div>
					</td>
				</tr>
<tr><td>&nbsp;</td> <td> </td></tr>
				<tr>
					<td>
						{{TR_FORM_TRIP_TRANSPORT}}:
					</td>
					<td>
					<select name="tran_radio" class="edit">
						{{transport_sel|raw}}
					</select>
					</td>
				</tr>
<tr><td>&nbsp;</td> <td> </td></tr>
				<tr>
					<td>
						{{TR_FORM_TRIP_IS_ADVANCE}}
					</td>
					<td>
						<input type="checkbox" name="is_advance" onchange="isAdvance()" onclick="isAdvance();" {{checked_is_advance}}/>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="margin:0px;padding:0px;">
						<div id='advance'>{{advance_div|raw}}</div>
					<td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
	<td colspan="2">
		{{TR_FORM_TRIP_COMMENT}}:
		<br/>
		<textarea name="comment" id="comment" rows="8" cols="100" style="text-align:left" wrap="on" class="edit" style="width:576px;">{{comment_value}}</textarea>

		<div id="trip_form_buttons" align="center">
			<input type="submit" name="form_button" value="{{TR_FORM_TRIP_SEND_FORM}}" class="button"/>
			<input type="submit" name="form_button" value="{{TR_FORM_TRIP_SAVE_FORM}}" class="button"/>
			<input type="reset"  value="{{TR_FORM_TRIP_CLEAN_FORM}}" class="button"/>
		</div>
	</td>
	</tr>
</table>
</div>
</form>
