body {
text-align:center;
margin:10px;
	
	background:white;
font-family: Sans-Serif;
}
#main
{
width:100%;
text-align:center;
}

#content
{
	float:left;
	margin:5px;
	text-align:left;
	width:840px;
color:#304F6F;
font-family:Sans-Serif;
font-size:11px;
padding-left:3px;
}

#menubar {
margin:0px;
float:left;
background:#385370;
width:170px;
height:550px;
text-align:left;
}

#topmain {
background:white;margin:10px;
text-align:left;
float:left;
}

form
{
font-family:Sans-Serif;
font-size:12px;
}

.appname {
font-size:24px;
color:black;
font-family:arial;
display:inline;
}

#navbar{
color:white;
background:#385370;
height:25px;
text-align:right;
padding:0px;
margin-bottom:5px;
clear:both;
}
.navtext
{
color:white;
font-size:12px;
font-family:arial;

}
.headmenu
{
background:#587390;
padding:2px;
margin:4px;
color:white;
font-family:arial;
font-size:12px;
font-weight:bold;
text-align:center;
}

#menubar ul
{
list-style-type:none;
margin:0 0 0 5px;
padding:0px;
}

#menubar ol
{
margin-left:0px;
}


#menubar a:link{
text-decoration:none;
font-family:arial;
color:white;
font-size:14px;
background:none;
}

#menubar a:visited{
text-decoration:none;
font-family:arial;
color:white;
font-size:14px;
background:none;
width:45px;
}

.logoutbutton
{
text-decoration:none;
color:white;
font-family:Tahoma;
font-size:18px;
font-weight:bold;
height:25px;
margin:0 0 0 25px;
padding:0px;
}


.DataGridMain {
	border:1px solid #304f6f;
color:#304f6f;
	font-size:11px;
	font-family:Sans-Serif;
padding:0px;
margin:0px;
text-align:center;
clear:both;
	
	}

#listaccept
{
background:lime;

}

.DataGridHeader {
	border-bottom:1px solid #304f6f;
	font-size:11px;
	font-family:Sans-Serif;
	background-color:#E9F2FD;
	margin:0px;
	padding:0px;
	height:14px;
	text-align:center;
	}
.DataGridCell {
	font-size:10px;
	font-family:Sans-Serif;
	background:#FEFEFE;
	margin:1px;
	padding:none;
border-bottom:1px solid #E9F2FD;
	}
.DataGridFieldOver 
{
	font-size:12px;
	font-family:Sans-Serif;
	background:#FAFAFA;	
	margin:0px;
	padding:0px;
	border:1px solid black;
}

.Boxconf
{
	display:inline;
	width:350px;
	height:auto;
	border:1px dotted black;
	display:block;
}

#modcurr,#modcountry,#modctname,#modtrans,#modaim
{
	width:125px;
	height:16px;
	font-size:12px;
	font-family:Sans-Serif;
}

select  
{
	width:150px;
	font-size:12px;
	font-family:Sans-Serif;
text-align:right;
}

.checkfield
{
width:12px;
height:12px;
}

.modbuttons
{
	width:50px;
}


#ErrorMessage
{
font-size:12px;
/* 	border:1px solid black; */
	color:red;
}

.tab
{
display:block;
border:1px solid black;
margin-right:2px;
font-size:12px;
font-family:Sans-Serif;
border-bottom:0px;
width:80px;
padding-left:3px;
margin-left:none;
float:left;
cursor:pointer;
}



#pageheader
{
	border-bottom:1px dashed black;
	font-size:9px;
	font-family:Tahoma;
	color:black;
	margin-bottom:10px;
	text-align:left;
	margin-left:8px;
	padding-bottom:5px;
	width:840px;
}

#pageheader a:visited,#pageheader a:link
{
	color:black;
}


#pagename
{
float:left;
font-size:24px;
text-align:left;
margin-left:10px;
width:720px;
display:inline;
font-family:Sans-Serif;
color:#304F6F;
}
#filters
{
	font-size:12px;
	width:838px;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	margin:0px;
	padding:0px;
}
#checkboxfilters
	{
	display:inline;
	width:840px;
	}

#error
{
color:#A00606;
font-size:12px;
}

.pageslist
{
font-size:12px;
color:black;
cursor:pointer;
margin:1px;
padding:0px;
display:inline;
height:	18px;
float:left;
font-family:Sans-Serif;
/* margin-bottom:2px; */
/* padding-bottom:3px; */
}

#pagestop
{
border-top:1px solid #304f6f;

}

#pagestop , #pagesbottom
{
width:836px;
height:18px;
padding:1px;
margin:0px;

text-align:left;
border-left:1px solid #304f6f;
border-right:1px solid #304f6f;
}

#pagestop img, #pagesbottom img
{
margin:0px;
padding:0px;
}

.fleft
{
float:left;
}

.fright
{
float:right;
}

#pagesbottom
{
border-bottom:1px solid #304f6f;
}

.edit
{
border:1px solid #304F6F;
font-size:11px;
color:#304F6F;
}

.button
{
background:#304f6e;
border:none;
color:white;
font-family:Sans-Serif;
font-size:10px;
margin-top:1px;
margin-left:1px;
}

#content a:link, #content a:visited
{
color:#304f6f;
}

.activePage
{
font-weight:bolder;
text-decoration:underline;
font-size:64px;
color:lime;
}

.nonActivePage
{
font-weight:bolder;
text-decoration:none;
margin:0px;
padding:0px;
float:left;
}

#advance
{
margin:0px;
padding:0px;
}

#hotel
{
margin:0px;
padding:0px;
}

.saccepted
{
color:#00BA06;
}

.swaiting
{
color:#c9bd00;
}

.scancelled
{
color:#bc3f00;
}