<span class="tab" id ="tabnav.t1" onclick='choose(this);xajax_X_ShowCurrencies(-1,0);' style="background:#E9F2FD;">TR_TEXT_CURRENCIES</span>
<span class="tab" id ="tabnav.t2" onclick='xajax_X_ShowCities(-1,0);choose(this)' >TR_TEXT_CITIES</span>
<span class="tab" id ="tabnav.t3" onclick='xajax_X_ShowCountries(-1,0);choose(this)' >TR_TEXT_COUNTRIES</span>
<span class="tab" id ="tabnav.t4" onclick='xajax_X_ShowHotels(-1,0);choose(this)'>TR_TEXT_HOTELS</span>
<span class="tab" id ="tabnav.t5" onclick='xajax_X_ShowTransport(-1,0);choose(this)'>TR_TEXT_TRANSPORTS</span>
<span class="tab" id ="tabnav.t6" onclick='xajax_X_ShowAims(-1,0);choose(this)'>TR_TEXT_TRIP_PURPOSES</span><br />
<div id="Grid" name="Grid" style="float:none;clear:both" >{Grid}</div>
