<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Travel Request</title>
</head>
<body style="text-align:center;margin-right:auto;background:white;" onload="document.getElementsByName('login')[0].focus()" >
<div style="height:532px;width:950px;border:1px solid black;margin:auto;padding:auto">

<div style="margin:50px 10px 0px 750px;color:white;font-family:arial;font-weight:bold;text-align:left;">
<form method="POST" action=index.php?a=login&url={url}>Username<br />
<input type="text" name="login"/><br />
Password <br />
<input type="password" name="pass"/><br />
<input type="submit" value="Login" style="float:right;margin-top:2px;margin-right:37px;"/>
</form>
<br />{message}
</div>
</div>
</body>
</html>